@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #c9c9c9;
}

header {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: #6eccc6;
  padding: 2rem;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

aside {
  background-color: #6eccc6;
  grid-row: 1/4;
  padding: 2rem;
}

section {
  background-color: #c9c9c9;
  padding: 2rem;
}

footer {
  background-color: #c9c9c9;
  padding: 1.5rem;
}